Repository CommandTM/nosferatu-wiki, pull requests merged in 2025-07, with the labels that each got.

#5 Coming Soon Page
  .gitignore
  assets/favicon.png
  assets/spheratu.gif
  assets/wiki-logo-banner.png
  assets/wiki-logo.png
  index.html
Labels: html changes, new page

#9 Change Header Color
  global.css
Labels: css changes

#10 Basic Main Page
  home.css
  index.html
Labels: html changes, css changes, new page

#15 Add A Disclaimer To The Main Page So We Don't Get Sued For Libel
  home.css
  index.html
Labels: html changes, css changes, change page

#16 Add A Page Index And Some Empty Pages
  article-list.js
  articles/article-list.html
  articles/authors/cm14.html
  articles/authors/commandtm.html
  articles/authors/goatgirlgwen.html
  articles/authors/jaitm.html
  articles/authors/jemmathecube.html
  articles/authors/kcbreadz.html
  articles/authors/murphexe.html
  articles/authors/rksona.html
  articles/authors/silvershorthair.html
  articles/authors/xzan.html
  articles/authors/yalda.html
  articles/index.json
  assets/authors/cm14.png
  assets/authors/command.png
  assets/authors/gwen.png
  assets/authors/jai.png
  assets/authors/jemma.png
  assets/authors/kc.png
  assets/authors/murph.png
  assets/authors/robyn.png
  assets/authors/silver.png
  assets/authors/xzan.png
  assets/authors/yalda.png
  home.css
  home.js
  index.html
  templates/infopage-template.html
  templates/messagebox-template.html
Labels: html changes, css changes, js changes, new page, change page

#29 Add Husk Chapter Pages
  articles/chapters/chapter-1.html
  articles/chapters/chapter-10.html
  articles/chapters/chapter-11.html
  articles/chapters/chapter-12.html
  articles/chapters/chapter-13.html
  articles/chapters/chapter-14.html
  articles/chapters/chapter-15.html
  articles/chapters/chapter-16.html
  articles/chapters/chapter-17.html
  articles/chapters/chapter-18.html
  articles/chapters/chapter-19.html
  articles/chapters/chapter-2.html
  articles/chapters/chapter-20.html
  articles/chapters/chapter-21.html
  articles/chapters/chapter-22.html
  articles/chapters/chapter-23.html
  articles/chapters/chapter-3.html
  articles/chapters/chapter-4.html
  articles/chapters/chapter-5.html
  articles/chapters/chapter-6.html
  articles/chapters/chapter-7.html
  articles/chapters/chapter-8.html
  articles/chapters/chapter-9.html
  articles/index.json
  home.css
  index.html
  templates/infopage-template.html
Labels: html changes, css changes, new page, change page

#53 Add Detail To Authors/CommandTM
  articles/authors/commandtm.html
Labels: html changes, change page

#57 I removed the work in progress thinbg from my page
  articles/authors/goatgirlgwen.html
Labels: html changes, bug, change page
